* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

.titulo {
    padding: 1.5rem;
    background-color: burlywood;
    text-align: center;
}

.carrousel {
    margin: 5rem;
    padding: 5rem 0;
    /* width: 100%; */
}

.contenedor-img {
    width: 25rem;
}

img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: black;
    /* margin: 0 0.5rem; */
}

.nombre, .descripcion {
    padding: 1rem 0.5rem;
    text-align: center;
    color: black;
}

